apiVersion: gitops.jenkins-x.io/v1alpha1
kind: SourceConfig
metadata:
  creationTimestamp: null
spec:
  groups:
  - owner: xmatoha
    provider: https://github.com
    providerKind: github
    repositories:
    - name: jx-node-http-1
    scheduler: in-repo
